#dd-reference-toc ul,
#dd-reference-toc-util ul,
#dd-reference-toc-identifiers ul,
#dd-index-reference-toc ul ul {
    column-count: 2;
}

#dd-reference-toc ul,
#dd-index-reference-toc ul li:first-of-type ul {
    list-style-type: none;
}

/* [Reference] Lifecycle status icons in front of IDS names */
.ids-icon {
    cursor: help;
    position: relative;
    display: inline-block;
}
.ids-icon::before {
    background-color: var(--md-primary-fg-color);
}
.ids-icon:hover::after {
    position: absolute;
    width: max-content;
    font-size: 0.8rem;
    left: 90%;
    top: 90%;
    padding: 0.2em;
    border: 1px #aaa solid;
    background-color: #fff;
    color: #000;
    z-index: 1;
}
.ids-icon.material_star:hover::after {
    content: "This IDS is active.";
}
.ids-icon.material_alpha:hover::after {
    content: "This IDS is in alpha status.";
}

/* [Reference] Coordinate tables */
table.dd-coordinates {
    margin: 0.5em 0;
}
table.dd-coordinates th, table.dd-coordinates td {
    padding: 0.5em !important;
}
table.dd-coordinates th:first-child, table.dd-coordinates td:first-child {
    min-width: 0 !important;
}

/* [Reference] Summary of DD node contents */
details .dd-summary {
    font-weight: normal;
    display: block;
}
details[open] > * > .dd-summary {
    display: none;
}

/* [Reference] Overwrite admonition styles from theme */
details.dd {
    padding-right: 0;
    border-radius: 0;
    border-width: 0 0 0 0.05rem;
    box-shadow: 0 0;
}
details.dd details.dd:last-child {
    margin-bottom: 0;
}
summary.dd {
    margin-right: 0;
    padding-right: 0.6rem !important; /* Move collapse icon left */
    padding-left: 1.8rem !important; /* Remove admonition icon */
}
summary.dd::before {
    width: 0; /* Remove admonition icon */
}
summary.dd::after {
    left: 0.4rem;
}

/* [Reference] Make parent structures in path appear lighter */
.sig-object > span:first-child:not(.sig-name) {
    font-weight: normal;
}

/* [Reference] Style units, data_type and type elements */
span.dd_unit {
    cursor: help;
    position: relative;
    font-weight: normal;
    font-style: italic;
    margin-left: 0.5em
}
span.dd_unit:hover {
    text-decoration: underline;
}
span.dd_unit:hover::after {
    content: "Unit of this data node.";
    position: absolute;
    left: 0em;
    top: 1.5em;
    width: max-content;
    padding: 0.4em;
    border: 1px #aaa solid;
    background-color: #fff;
    color: #000;
    z-index: 1;
}

span.dd_data_type {
    float: right;
}

.dd-constant::after {
    content: "{constant}";
    font-weight: normal;
}
.dd-static::after {
    content: "{static}";
    font-weight: normal;
}
.dd-dynamic::after {
    content: "{dynamic}";
    font-weight: normal;
}

/**
 * GGD guide uses guilabel elements for emphasising elements
 * Though guilabel is not originally meant for this, it is only
 * used here, so let's style them similar to the original docs.
 */
.guilabel {
    font-size: 80%;
    font-weight: 700;
    background-color: rgba(68,138,255,.1);
    border: .05rem solid #448aff;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
}

